/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

h2 {
    font-weight: 600;
    margin-bottom: 1.5rem;
}

p, ul, li {
    font-size: 1rem;
}

/* Hero Section */
.hero {
    position: relative;
    background: url('hero.jpeg') center center/cover no-repeat;
    height: 100vh; /* Full height to make a bold statement */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    z-index: 1;
}

.hero .container {
    position: relative;
    z-index: 2; /* Ensure the text is on top of the overlay */
}

.hero h1 {
    font-size: 3rem;
    font-weight: 600;
    z-index: 2;
}

.hero p {
    font-size: 1.25rem;
    z-index: 2;
    margin-top: 1rem;
}



/* Navbar Styling */
.navbar {
    margin-bottom: 0;
}

/* Section Styling */
section {
    padding: 3rem 0;
}

.bg-light {
    background-color: #f8f9fa !important;
}

/* Cards for Projects */
.card {
    border: none;
}

.card-body {
    padding: 1rem;
}

/* General link styles for project cards */
.card a {
    color: inherit; /* Inherit the color from parent elements, making it blend with the card text */
    text-decoration: none; /* Remove the underline */
}

/* Hover effect to darken the link */
.card a:hover {
    color: rgba(0, 0, 0, 0.7); /* Slightly darken the color on hover */
    text-decoration: none; /* Ensure underline stays removed on hover */
    transition: color 0.3s ease; /* Smooth transition for the color change */
}

/* General link styles for project cards */
a {
    color: inherit; /* Inherit the color from parent elements, making it blend with the card text */
    text-decoration: none; /* Remove the underline */
}

/* Hover effect to darken the link */
a:hover {
    color: rgba(0, 0, 0, 0.7); /* Slightly darken the color on hover */
    text-decoration: none; /* Ensure underline stays removed on hover */
    transition: color 0.3s ease; /* Smooth transition for the color change */
}

/* Footer */
footer {
    background-color: #343a40;
}

footer p {
    margin: 0;
}

/* Styling for the publication images */
.publication-img {
    width: 250px;  /* Adjust the width to make the image small */
    height: auto; /* Maintain the aspect ratio */
    object-fit: cover; /* Ensure image doesn't get stretched */
    border-radius: 5px; /* Optional: adds rounded corners */
}
